#nprogress .bar {
  height: 4px !important;
  background: #ee592e;
}

.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center; 
  /* height: 80vh; */
  /* overflow: scroll; */
  margin: 0;

  /* background-color: #4d6e74 !important; */

}

.nav {
  /* background-color: #2f3c51 !important; */
  background-color: #4d6e74 !important;
  z-index:1; 
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  /* display: none; */
}

.nav a:hover {
  border-radius: none;
}

.sidebar {
  position: fixed;
  background-color: #4d6e74;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  opacity: 0.98; /* 1 means fully visible, 0 means invisible */

  transform: translateX(-100%);
  transition: transform .3s ease-in-out;

}

.sidebarVisible {
  position: fixed;
  background-color: #4d6e74;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  opacity: 0.98; /* 1 means fully visible, 0 means invisible */

  transform: translateX(0);
  transition: transform .3s ease-in-out;
}

.subcard {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
  background-color: rgb(250, 252, 253);
  /* background-color: #fff; */
  /* background-color: #eeeff0; */
  padding: 30px;
  border-radius: 10px;
  /* transform: translateY(-800px); */
}

.title {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .2);
  background-color: rgb(247, 249, 252);
  /* background-color: #eeeff0; */
  padding: 20px;
  border-radius: 15px;
  /* transform: translateY(-800px); */
}

.background {
  background-color: #e6eaeb;
  height: 100vh;
  overflow: scroll;
}

.accordion {
  background-color: #4d6e74 !important;
  z-index:1; 
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0;
  width: 100%; */
  /* overflow: hidden; */
}

.tabbar {
  background-color: #4d6e74 !important;
  z-index:1; 
  position: fixed;
  display: flex;
  /* top: 0;
  left: 0;
  right: 0; */
  bottom: 0;
  width: 100%;
  /* overflow: hidden; */
}

.mobilehome {
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

/* .foodOrder {
  color: 'grey';
  border: '1px solid grey';
  padding: '10px';
  boxShadow: '10px 2px 10px 4px rgba(0,0,0,0.2)';
  borderRadius: '8px';
  borderBlock: '5px'
} */

/* set media when on phone to align items like body and divs center on reg and login maybe even put nav on bottom or make a side nav */
/* @media {
  40
} */

@media only screen and (max-width: 600px) {
  .accordion { display: block; }
  .sidebar { display: block; }
  .mobilehome { display: block;} 
  .nav { display: none; }
}

@media only screen and (min-width: 600px) {
  .accordion { display: none; }
  .sidebar { display: none; }
  .nav { display: block; }
}

