@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh; */
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.bodyregular {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* align-items: center;  */
  /* margin: 0 0 20px; */
  font-family: 'Roboto', sans-serif;

  padding: 5px;
  width: -moz-fit-content;
  width: fit-content;
}

.sectioncontainer {
  /* w-container */
  margin: 0;
  /* width: 300px; */
}

.font {
  /* font-family: 'Lato'; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
  font-family: 'Lobster Two', cursive;
}
.fontTwo {
  /* font-family: 'Lato'; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
  /* font-family: 'Lobster Two', cursive; */
  font-family: 'Alata', sans-serif;
}
.fontMobile {
  /* font-family: 'Lato'; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* font-family: 'Lobster Two', cursive; */
  font-size: 55px;
  /* font-family: 'Alata', sans-serif; */
}

.h4 {
  /* display: flex;
  flex: auto; */
  /* flex-direction: column; */
  /* align-items: center; */
  font-size: '30px';
  font-family: 'Arimo';
  padding: 0px;
}

.sectioncolumns {
  /* marginvertical w-row */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  max-width: 40em;
}

.columnscontainer {
  /* centeredvertical w-col w-col-4 w-col-stack  */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionair {
  /* background-color: rgb(72, 151, 151); */
  background-color: rgb(201, 241, 241);
  box-shadow: 0px 1.2px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  /* opacity: 10%; */
  /* position: absolute; */
  width: 100%;
  max-width: 30em;
  width: auto;
  height: 390px;
  margin: 0 auto;
}

.hr {
  display: inline;
  border: 3px dotted #b91f1f;
  border-style: none none dotted;
}
.hrstudents {
  border: 2px dotted #419ca8;
  border-style: none none dotted;
}

.footer {
  /* position: fixed; */

  bottom: 0;
  left: 0;
  width: 100%;
  height: 340px;
  background-color: #0a2a30 !important;
  /* background-color: #35575c !important; */
  /* background: linear-gradient(to top, #092429 10%, #082e35 100%); */
  /* background-color: #102930 !important; */
  /* background-color: #f8c623 !important; */
}

.subcard {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(250, 252, 253);
  padding: 30px;
  border-radius: 5px;
  height: 60vh;
  /* transform: translateY(-800px); */
}
.subcard2 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(250, 252, 253);
  padding: 30px;
  border-radius: 5px;
  /* height: 60vh; */
  /* transform: translateY(-800px); */
}

.animatedBg {
  /* background: #f6f7f8; */
  /* background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 10%, #f6f7f8 20%, #f6f7f8 100%); */
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  margin-top: 20px;
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animatedBgText {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

.skewedBg {
  background: #ecd69a;
  /* padding: 200px 0; */
  transform: skew(0deg, -10deg);
  height: 35%;
  width: 100%;
  margin-top: -300px;
  margin-bottom: 100px;
  padding-bottom: 150px;
  z-index: -2;
  background: linear-gradient(to bottom, #33ccff 0%, #fff599 100%);
  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
}

.skewedBgMiddle {
  background: #ecd69a;
  /* padding: 200px 0; */
  transform: skew(0deg, 10deg);
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1300px;
  /* margin-bottom: 100px; */
  /* padding-bottom: 150px;  */
  z-index: -2;
  background: linear-gradient(to bottom, #33ccff 0%, #fff599 100%);
  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
}

.skewedBgNight {
  background: #1b51b6;
  /* padding: 200px 0; */
  transform: skew(0deg, -10deg);
  height: 35%;
  width: 100%;
  margin-top: -300px;
  margin-bottom: 100px;
  z-index: -2;
  background: linear-gradient(to bottom, #33ccff 0%, #24487c 100%);
  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
}

.hero {
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.2);
}

.heroContent {
  color: #102930;
  padding-top: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: skew(0deg, 10deg);
  text-align: center;
  font-family: 'PT Serif', serif;
}

.title {
  padding-top: 100px;
  font-weight: normal;
}

.text {
  width: 60%;
  margin: 25px auto;
  color: lighten(#00b285, 55);
}

.buttonshadow {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  color: rgb(90, 90, 90);
}

.button {
  background-color: #fddf65 !important;
  outline-color: #4d6e74;
  /* box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3); */
  color: rgb(73, 73, 73);
}

.buttonSecondary {
  background-color: #96cac3 !important;
  outline-color: #4d6e74;
  /* box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3); */
  color: rgb(73, 73, 73);
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}

.lists {
  list-style-type: none;
}

.mobile {
  /* display: flex; */
  margin: 0;
  /* flex-direction: row; */
}

.desktop {
  /* display: flex; */
  margin: 0;
  /* flex-direction: column; */
}



@media only screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

